img {
    max-height: 200px; 
    width: auto;
    border-radius: 5px;
}

.container{
    width: 1920px;
    height: 1080px;
}

#grid{
    margin-top:200px;
    margin-left: -550px;
    height: 600px;
    width: 1500px;
}

#slike{
    height: 600px;
}
#lorem{
    height: 600px;
}
#lorem .h4{
    color: rgb(19,72,128);
    font-weight: bold;
    font-size:30px;
}

#gornjeslike{
    height: 200px;
}

#donjeslike{
    margin-top: 50px;
    height: 200px;
}

#lijevipomak{
    border-radius: 5px;
    border: 1px solid darkblue;
    margin-top:50px;
    height: 70px;
    width: 70px;

}
#desnipomak{
    border-radius: 5px;
    border: 1px solid darkblue;
    margin-top:20px;
    height: 70px;
    width: 70px;
}
#lijevastrelica, #desnastrelica{
    height: 15px;
    width: 15px;
}
#lijevipomak:hover, #desnipomak:hover{
    cursor: pointer;
}